@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-white dark:bg-slate-900 dark:text-slate-100;
  }
}

/* Custom Utilities if needed */
.glass {
  @apply bg-white/10 backdrop-blur-lg border border-white/20;
}
